        <div class="homepagetitle"> 
        Check Out My Life
        </div>
        <div class="page-objects">
            <br><br>
                        <p>There once was a human named Robert Alaniz Jr. and he had many friends accross the land! 
            The legend goes that he was kind and loved to travel. Now, the legend goes on!</p><br><br>
            
            <a href="zips/Resume 2021.pdf.zip">Download My resume! Check me out!</a>
            <br><br>
            <img class="bioimage" src="./images/YoureCool.png" >
            <br><br>

            <p>Hello, My name is Robert Alaniz Jr. and I hope you're enjoying my website. If you'd like to get in contact with me then the best way to reach me is by phone or email.
            I have a passion for Bioinformatic's and any Computational Programmatic practices that innovate the future! </p>
            <br>
            <a style="color:white" href="tel:9565339135">
                Phone: 956.533.9135 </a><br><br>
            <a style="color:white" href="mailto:infiniworl@gmail.com">
                Email: infiniworl@gmail.com <br>
            </a>

            <br><br>
            <img class="bioimage" src="./images/HeresRobert.png" >
            <br><br>
            <img class="bioimage" src="./images/CandyMan.png" >
            <br><br>
            <img class="bioimage" src="./images/AlienBoy.png" >
            <br><br>
            <img class="bioimage" src="./images/HowToCutGrass.png" >
            <br><br>
            <p>A nice trip to Colorado with the coolest person I know!</p>
            <br><br>
            <img class="bioimage" src="./images/PaintedMines.png" >
            <br><br>
            <p>What can I say? Siblings look alike! HAHAHA</p>
            <br><br>
            <img class="bioimage" src="./images/SiblingFun.png" >
            <br><br>
            <img class="bioimage" src="./images/BrotherandSisterTime.png" >
            <br><br>
            <img class="bioimage" src="./images/LittleRob.png" >
            <br><br>
            <img class="bioimage" src="./images/TheFam.png" >
            <br><br>
            <img class="bioimage" src="./images/OtherHalfOfTheFam.png" >
            <br><br>
            <img class="bioimage" src="./images/SiblingFun.png" >
            <br><br>
            <img class="bioimage" src="./images/IsThatDarkPit.png" >
            <br><br>
            <p>Definitly going back to London!</p>
            <br><br>
            <img class="bioimage" src="./images/IceBarLondon.png" >
            <br><br>
            <img class="bioimage" src="./images/UniversalStudios.png" >
            <br><br>
            <p>Sometimes I get lucky when I buy Trading Cards!</p>
            <br><br>
            <img class="bioimage" src="./images/YuGiOhLuck.png" >
            <br><br>
            <p>I love the occassional funny pic!</p>
            <br><br>
            <img class="bioimage" src="./images/YumBeer.png" >
            <br><br>
            <img class="bioimage" src="./images/YummyBeer.png" >
            <br><br>
            <p>This is the end of this page but there is always more! Stay tuned in for more of my adventures!</p>



        </div>
            
