        <div class="homepagetitle"> 
        Check Out Some Biostatistical Work
        </div>

        <div class="page-objects">
            <br><br>
            <img class="bioimage" src="./images/willow.png" >
            <br><br>

            <img class="bioimage" src="./images/willowgraph.png" >
            <br><br>
            <a href="zips/Biostatistical Analysis- S.alba Dataset.zip">Biostatistical Analysis - S.alba Dataset Download zip file [42.7 KB]</a>
            <br><br>
            <img class="bioimage" src="./images/seal.png" >
            <br><br>

            <img class="bioimage" src="./images/sealgraph.png" >
            <br><br>
            <a href="zips/Biostatistical Analysis- Seal Dataset.zip">Biostatistical Analysis- Seal Dataset Download zip file [114.22 KB]</a>
            <br><br>
            <img class="bioimage" src="./images/finch.png" >
            <br><br>
            <a href="zips/Biostatistical Analysis- Finch Dataset.zip">Biostatistical Analysis- Finch Dataset [13.79 KB]</a>
            <br><br>

        </div>
            

        