

<!DOCTYPE html>
<html>
    <head>
        <title>{{pagetitle}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="main.css" rel="stylesheet">
        <link rel="icon" href="favicon.gif" type="image/gif">

    </head>
    <body>
        <nav class="nav-section">
            <ul>
                <li><a class="active" href="index.php">Home</a></li>
                <li><a href="webprogramming.php">WebWork</a></li>
                <li><a href="biostatisticalprogramming.php">Biotatistics</a></li>
                <li><a href="aboutme.php">Me</a></li>
                <li style="float:right"><a href="contact.php">Contact</a></li>

            </ul>
        </nav>