        <div class="homepagetitle"> 
        Check Out Some Website Work
        </div>
        <div class="webpage-objects">
            <br><br>
            <iframe src="https://www.infiniworl.net/Infiniworl_Sites/NVUSmedia.html"  width="70%" height=400 title="NVUS Media">NVUS MEDIA</iframe>
            <br><br>
            <a href="https://www.infiniworl.net/Infiniworl_Sites/NVUSmedia.html">NVUS MEDIA</a>
            <br><br>
            <iframe src="https://www.infiniworl.net/Infiniworl_Sites/MinimalArtWorkStudio.html" width="70%" height=400 title="The Minimal Art Studio">The Minimal Art Studio</iframe>
            <br><br>
            <a href="https://www.infiniworl.net/Infiniworl_Sites/MinimalArtWorkStudio.html">The Minimal Art Studio</a>
            <br><br>



        </div>
            
